<%- include('partials/header.ejs') %>

<div class="container col-xl-10 col-xxl-8 px-4 py-5 my-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 py-5">
            <img src="/images/loginpic.jpg" class="card-img shadow">
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
        <form action="/login" method="POST" class="p-4 p-md-5 border bg-white shadow">
            <h2 class="display-2 pt-2">LOGIN</h2>
            <small class="text-muted">Get the best experience</small>
            <div class="form-floating mb-3">
                <input type="text" name="username" class="form-control" id="floatingInput" placeholder="username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="mb-3 float-end">
                <a href="/signup" class="text-decoration-none"><small>Don't have an account?</small></a>
            </div>
            <button class="w-100 btn btn-lg btn-dark" type="submit" value="Login">Sign in</button>
        </form>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>