<%- include('../partials/header.ejs') %>

<div style="background-image: url('https://s.isanook.com/mv/0/ui/19/96781/sf_cinema_4_1585391070.jpg');" class="img-fluid">
    <div class="container p-5 text-white fw-bolder text-block">
        <h1 class="display-1"><span class="text-primary">Paradis</span> Cinema</h1>
        <p>Gain the best experience by our cinema.</p>
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6 image-box">
                <img src="https://s.isanook.com/mv/0/ui/19/96781/sf_cinema_4_1585391070.jpg" class="d-block mx-lg-auto img-fluid rounded" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6 fade-in">
                <h1 class="display-4">Luxury Architecture Styles</h1>
                <p>Modern and Luxury architecture style for give our customers full experience in this cinema.</p>
            </div>
        </div>
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-lg-6 fade-in">
                <h1 class="display-4">Modern Environment</h1>
                <p>To keep our customers in mood.</p>
            </div>
            <div class="col-10 col-sm-8 col-lg-6 image-box">
                <img src="https://lh3.googleusercontent.com/proxy/bReSAoG8KnniQCAIpF2azSm3Qm90XpNqFfeIbV5xxxXYWob09t812N1q8utbjU7KYLGUXi4DTfA0ecoasyLA7wNH5HovVPvhMeGuzT2qXyr_ZFxNRP2U6tTCGs0XqgEUoE9yRrrcSynsOyt6zfli9j48V8-J7Wxlveo8Bq4-J1vns-DD4BbhozczKQ" class="d-block mx-lg-auto img-fluid rounded" width="700" height="500" loading="lazy">
            </div>
        </div>
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6 image-box">
                <img src="https://i.pinimg.com/originals/71/a7/cc/71a7ccd0b3de91bfbf1f9e7b741bf11f.jpg" class="d-block mx-lg-auto img-fluid rounded" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6 fade-in">
                <h1 class="display-4">Guarantee Clean Toilet</h1>
                <p>We always take care about this.</p>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>